

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .opc-wrapper {
        .form-login {
            .label {
                transform: matrix(-1,0,0,1,1,0);
            }
        }
    }
}